.app-container {
  min-height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  max-width: 60vw;
  gap: 3vh;
  padding: 3vh;
}

@media (min-width: 640px) {
  .app-content {
    max-width: 75vw;
    flex-direction: row;
    gap: 1vw;
  }
}

.link-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  flex: 1;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.link-container:hover {
  opacity: 0.9;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-out, opacity 0.5s ease-out;
  z-index: 10;
  opacity: 0;
}

.overlay.overlay-visible {
  opacity: 1;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.vfiles-logo {
  width: auto;
  height: 33.333333%;
}

.fifa-logo {
  width: auto;
  height: 33.333333%;
}

.image-grid-item {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s ease, opacity 0.3s ease;
  opacity: 0;
}

.image-grid-item.image-loaded {
  opacity: 1;
}
